/*
 * CSS-компоненты страницы
 */

.demo-page-index-products {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EEE;
}

.demo-page-index-header {
    background: #EEE url('corner.svg') no-repeat top 0 right 0;
    background-size: 70px auto;
    border-bottom: 1px solid #CCC;
    padding: 10px;
}
