
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.bs3ct-page-marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.bs3ct-page-marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.bs3ct-page-marketing h2 {
    font-weight: normal;
}
.bs3ct-page-marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .bs3ct-page-marketing {
        padding-right: 0;
        padding-left: 0;
    }
}
