/*
 * CSS виджета
 */
.demo-product-card {
    border: 10px solid #DDD;
    border-radius: 10px;
}
.demo-product-card .coverImage img {
    width: 100%;
}

.demo-product-card .description {
    color: black;
}

.demo-product-card.-disabled {
    opacity: 0.5;
}