<div class="demo-product-card {{ subclasses }}">
    <a href="#">
        <div class="coverImage">
            <img src="{{ img('apple.jpg') }}" alt="Яблочко">
        </div>
        <div class="description text-center">
            <div class="caption text-primary">Яблочко</div>
            <div class="articul">121-212</div>
        </div>
    </a>
</div>