<div class="container">
    <div class="jumbotron">
        <h1>Шаблон для верстки</h1>
        <p>Страницы. Виджеты.</p>
    </div>
    <h2>Проекты</h2>

    {% if projects %}
        <ul>
            {% for project in projects %}
                <li><a href="{{ Url.to({0: 'project/show', projectName: project.name }) }}">{{ project.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Проектов нет.</p>
    {% endif %}

</div>