.component-marker-board {
    position: relative;
    display: inline-block;
}

.component-marker-board > .marker {
    position: absolute;

    /* box */
    border: 2px solid red;
    background-color: rgba(0,0,170, 0.3);

    /* text */
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    color: white;
    font-weight: bold;

    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.component-marker-board > .marker:hover {
    /*transition: font-size 0.3s;*/
    /*font-size: 200%;*/
    background-color: rgba(0,0,170, 0.9);
}

.component-marker-board > .marker.-hidden {
    visibility: hidden;
}

.component-marker-board > .marker.-highlighted {
    visibility: visible;
    background-color: rgba(0,170,0, 0.6);
    font-size: 120%;
    z-index: 2;
}

.component-marker-board > .marker .ui-resizable-n {
    height: 14px;
}
.component-marker-board > .marker .ui-resizable-s {
    height: 14px;
}
.component-marker-board > .marker .ui-resizable-e {
    width: 14px;
}
.component-marker-board > .marker .ui-resizable-w {
    width: 14px;
}
.component-marker-board > .marker .ui-resizable-se {
    width: 16px;
    height: 16px;
}
.component-marker-board > .marker .ui-resizable-sw {
    width: 16px;
    height: 16px;
}
.component-marker-board > .marker .ui-resizable-nw {
    width: 16px;
    height: 16px;
}
.component-marker-board > .marker .ui-resizable-ne {
    width: 16px;
    height: 16px;
}


/*
.component-marker-board:hover > .marker {
    opacity: 0.3;
}

.component-marker-board:hover > .marker:hover {
    opacity: 1;
}
*/

.preview-cut-workspace > .previews  {
    white-space: nowrap;
}
.preview-cut-workspace > .appearance-setup > * {
    vertical-align: middle;
}
.preview-cut-workspace > .appearance-setup  {
    z-index: 3;
    position: fixed;
    margin-top: -55px; padding: 10px;
    border: 3px solid #EEE;
    background-color: #0b58a2;
}
.preview-cut-workspace > .previews > .board > .preview > img {
    width: 100%;
}
.preview-cut-workspace > .previews > .board > .preview  {
    max-width: 400px;
}
.preview-cut-workspace > .previews > .board > .preview.-size-original  {
    max-width: none;
}
.preview-cut-workspace > .previews > .board > .preview.-size-arbitrary  {
    max-width: none;
}
.preview-cut-workspace > .previews > .board > .controls {
    height: 20px;
    line-height: 20px;
}
.preview-cut-workspace > .previews > .board {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
