#
# PHP
#

php_value display_errors 1
php_value display_startup_errors 1

#
# Общее
#

AddDefaultCharset utf-8
Options +FollowSymlinks
DirectoryIndex index.php

#
# mod_rewrite
#

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}      !-f
RewriteCond %{REQUEST_FILENAME}      !-d
RewriteRule ^(.+)   index.php  [L]

